<div class="post">
    <h1>
        <%- post.title || post.link %>
        <p class="small-text subtitle">
            <span>
                ⏱<%= post.date.format(config.date_format) %>
            </span>

            <% if (post.tags !== undefined) { %>
                <span>
                🔖<% post.tags.forEach(function (tag) { %>
                        <a class="post-tag" href="<%= config.root %><%= tag.path %>"><%= tag.name %></a>
                    <% })%>
                </span>
            <% } %>
        </p>
    </h1>
    <%- post.content %>
</div>
