<% post.tags.forEach(function (tag) { %>
    <a class="post-tag" href="<%= config.root %><%= tag.path %>"><%= tag.name %></a>
<% })%>

<div class="post">
    <h1><%- post.title || post.link %></h1>
    <%- post.content %>
</div>
