<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><% if (page.title) { %>
        <%= page.title + ' - ' + config.title %>
    <% } else{%>
        <%= config.title + (config.subtitle ? ' - ' + config.subtitle: '') %>
    <% } %>
    </title>

    <% if (theme.favicon) { %>
        <link rel="shortcut icon" href="<%= theme.favicon %>"/>
    <% } %>

    <%- css('css/normalize.css') %>
    <%- css('css/base.css') %>
    <%- css('css/post.css') %>
    <%- css('css/icon/iconfont.css') %>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <style>
        :root {
            --highlight-color: <%= theme.palette.highlight %>;
        }
    </style>
</head>
